

.button{
    background-color: blue;
    color: white;
    border-radius: 10px;
    border: 1px solid black;
    height: 45px;
    width: 96%;
    /*width: 39vw;*/
    margin-top: 15px;
    float: left;
    margin-left: 1%;
}
