
.card {
    position: fixed;
    top: 23%;
    right: 7%;
    width: 25%;
    height: auto;
    border: 1px solid black;
    padding: 15px;
    background-color: white;
}

.image{
    width: 65%;
}

.pokemon_name{
    font-weight: bold;
    font-size: 25px;
}