@font-face {
  font-family: "Futura Light";
  src: url("./fonts/futura_light_font.ttf") format("truetype");
}

@font-face {
  font-family: "Futura Medium";
  src: url("./fonts/futura_medium.ttf") format("truetype");
}



.App {
  text-align: center;
}

*{
  font-family: "Futura Medium", sans-serif;
}
